{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 128,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false, 
        "tabWidth": 2
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
